# nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# NextAuth.js
NEXTAUTH_SECRET=your-super-secret-nextauth-key-change-this-in-production
NEXTAUTH_URL=http://localhost:3000

# Admin credentials
ADMIN_EMAIL=admin@czekanski.dev
ADMIN_NAME=Admin
ADMIN_PASSWORD_HASH=$2a$10$aHxBh4LupUqBXKhyRt.UYe.apAQtaXkQz4QYvJYxB8YjTvR6Dd
